@model IEnumerable<AdoMVC.Models.Customer>
@{
    ViewData["Title"] = "Customers";
}

<div>
    <table class="table">
        <thead>
        <thead>
            <tr>
                @using (Html.BeginForm("SearchCustomer", "Home", FormMethod.Post))
                { }

    <p>
        CustomerID: <input type="Text" name="CustomerID" />
        <input type="submit" value="Search" />
        <input type="submit" value="Search All" />
    </p>
            </tr>
            <tr>
                <th>

                    @using (Html.BeginForm("Insert", "Home", FormMethod.Post))
                    {

                        <input type="submit" value="Create" />
                    }
                </th>
            </tr>
            @*<tr>
                <th>
                    @using (Html.BeginForm("Update", "Home", FormMethod.Get))
                    {
                        //  <input type="submit" value="Edit" />
                    }
                </th>
            </tr>
            <tr>
                <th>
                      @using (Html.BeginForm("Delete", "Home", FormMethod.Get))
                      {
                        //  < input type = "submit" value = "Delete" />
                      }
                </th>
           </tr>*@
            <tr>
                <th>
                    @Html.DisplayName("ID")
                </th>
                <th>
                    @Html.DisplayName("Customer Name")
                </th>
                <th>
                    @Html.DisplayName("Email ID")
                </th>
                <th>
                    @Html.DisplayName("Mobile No")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>

                    <td>
                        @*<td> <a asp-action="Delete" asp-route="-id=@item.CustomerID">Delete</a>*@
                        <a asp-action="Update" asp-route-id="@item.CustomerID">Edit</a>
                    </td>
                    <td> <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a></td>

                </tr>
                


            }
        </tbody>

    </table>
</div>












